body {
    background-color: antiquewhite;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;

}
.imagens {
    display: flex;
   justify-content: center;
   gap: 200px;
   background-color: #e7dede;
   border-radius: 10px;
   padding: 40px;
}

.banda {
    background-color: #e7dede;
   border-radius: 10px;
   padding: 40px;
}

    

p {
    color: rgb(80, 15, 80);
    font-size: 21px;
    
}

h1, h2 {
    padding: 30px;
    color: #695757;

}
h3 {
    padding: 15px;
}


section {
    margin-top: 30px;
    background-color: #e7dede;
    border-radius: 10px;
    padding: 30px;
}
section div {
    margin-bottom: 70px;

}
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.korn {
    text-align: center;
    color: rgb(49, 40, 49);
    padding: 50px;
}

ul {
    list-style-type: disc;
    margin-left: 30px;
}

li {
    color: rgb(80, 15, 80);
    
}





